# =========================
# Python
# =========================
backend/venv/
backend/__pycache__/
*.pyc

# =========================
# Environment Variables
# =========================
backend/.env
.env

# =========================
# Temporary Files
# =========================
backend/temp/
*.wav
*.webm

# =========================
# Node
# =========================
frontend/node_modules/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db